.cart {
    padding: 20px;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.cart-item-count {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.cart-items {
    flex: 3;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
}

.product-image-cartitem {
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

.item-info {
    flex: 1;
}

.item-info h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

.item-info p {
    margin: 5px 0;
}

.item-price, .item-size, .quantity-controls {
    font-size: 14px;
    color: #555;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    cursor: pointer;
}

.quantity-controls span {
    padding: 0 10px;
}
.item-total {
    font-weight: bold;
    color: #333;
    margin-left: 15px;
}

.remove-item {
    color: #e74c3c;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-left: 15px;
}

.order-note {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.order-summary {
    flex: 1;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.order-summary h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.total-amount {
    font-size: 1.2rem;
    color: #333;
}

.total-amount span {
    color: #e74c3c;
    font-weight: bold;
}

.checkout-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
}

.continue-shopping {
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}
